<%= link_to game_path(game), :class => 'level-item' do %>
  <%= image_tag game.image_url, :class => "level-item__image" %>  
  <div class="level-item__title">
    <%= game.name %>
    <div class="level-item__sub-text">
      By: <%= game.user.username %><br />
      <%= game.completions %> Completions
    </div>
  </div>
<% end %>