<% content_for :og_tags do %>
  <meta property="og:title" content="<%= @game.name %> by <%= @game.user.username %>" />
  <meta property="og:description" 
    content="Circ Level Editor game, play levels made by the community and challenge your friends." />
  <meta property="og:site_name" content="Circ Level Editor" />
  <meta property="og:image" content="<%= @game.image_url %>" />
<% end %>

<canvas id="canvas"></canvas>
<script>
  var data = <%= raw @game.map %>;
  for (var i = 0; i < data.length; i++) {
    data[i] = JSON.parse(data[i]);
  }

  level.data = data;
  level.title = "<%= @game.name %>";
  var game = new Clarity();
  game.setup(level);
</script>

<div class="game_modal">
  <div class="game_modal__top">
    <h1>Congratulations!!!</h1>
    <p>You just beat <%= @game.name %> made by <%= link_to @game.user.username, user_path(@game.user.slug) %></p>
    <p>Share with your friends: 
    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="I just beat a level on Circ Level Editor, can you beat it too?" data-size="large" data-hashtags="circleveleditor">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </p>
  </div>
  <div class="game_modal__bottom">
    <h1>Try Some Other Levels</h1>
    <%= render :partial => @games, :as => :game %>
  </div>
</div>
